<div class="dash-profile">
  <div class="avatar">
    <img src="./assets/img/458372_1.jpg" class="avatar" alt="Alex Martin" />
    <p>
      Welcome, <strong>Alex Martin.</strong> Here’s your personalized financial dashboard
    </p>
  </div>
  <div class="d-flex">
    <div class="filter">
      Currency:
      <div class="dropdown">
        <span class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          CGP
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
    <div class="options">
      <div class="dropdown">
        <span class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          My Account
        </span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">Action</button>
          <button class="dropdown-item" type="button">Another action</button>
          <button class="dropdown-item" type="button">Something else here</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-heading">
  <h3 class="title">Dashboard Home</h3>
</div>
<div class="fudge-dashboard">
  <div class="quick-stats">
    <h3 class="sub-heading">Quick Stats</h3>
    <div class="quick-stat-grid">
      <div class="card">
        <div class="card-body">
          <h6>£563,350</h6>
          <p>Your net worth as of today</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h6>12,350</h6>
          <p>Monthy Cashflow</p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h6>161,350</h6>
          <p>Overall Liabilities</p>
        </div>
      </div>
    </div>
  </div>
  <div class="financial-health">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="sub-heading">My Financial Health</h3>
      <button class="btn btn-secondary btn-dash">View Financial Health</button>
    </div>
    <div class="card box-shadow">
      <div class="card-body">
        <div class="progress-bar" style="left: 88%;background: green;" role="progressbar" aria-valuenow="25"
          aria-valuemin="0" aria-valuemax="100">88%</div>
        <div class="progress">
        </div>
      </div>
      <div class="card-footer">
        <span class="footer-text">
          <p>Your financial health status is <span class="good"> GOOD</span>
            However there’s still room for
            improvement. <a href="">See how you can improve</a></p>
        </span>
      </div>
    </div>
  </div>
  <div class="my-performance">
    <app-my-performance></app-my-performance>
  </div>
  <div class="my-goals">
    <div class="d-flex align-items-center justify-content-between">
      <h3 class="sub-heading">My Goals</h3>
      <button class="btn btn-secondary btn-dash">View all Goals</button>
    </div>
    <div class="my-goal-grid">
      <div class="card box-shadow">
        <div class="card-body">
          <h6>Retirement</h6>
          <circle-progress [percent]="65" [radius]="100" [outerStrokeWidth]="1" [innerStrokeWidth]="1"
            [animation]="true" [animationDuration]="300" [responsive]="true">
          </circle-progress>
        </div>
        <div class="card-footer">
          <h6>£354,878</h6>
          <span>£125,987</span>
        </div>
      </div>
      <div class="card box-shadow">
        <div class="card-body">
          <h6>Vacation Home</h6>
          <circle-progress [percent]="78" [radius]="100" [outerStrokeWidth]="1" [innerStrokeWidth]="1"
            [animation]="true" [animationDuration]="300" [responsive]="true">
          </circle-progress>
        </div>
        <div class="card-footer">
          <h6>£354,878</h6>
          <span>£125,987</span>
        </div>
      </div>
      <div class="card box-shadow">
        <div class="card-body">
          <h6>Travel</h6>
          <circle-progress [percent]="46" [radius]="100" [outerStrokeWidth]="1" [innerStrokeWidth]="1"
            [animation]="true" [animationDuration]="300" [responsive]="true">
          </circle-progress>
        </div>
        <div class="card-footer">
          <h6>£354,878</h6>
          <span>£125,987</span>
        </div>
      </div>
    </div>
  </div>
  <div class="industy-news card">
    <h3 class="sub-heading">Industry News</h3>
    <div class="card-body">
      <div class="news-article" *ngIf="contentArray.length > 0">
        <div class="list" *ngFor="let content of returnedArray">
          <span class="time-stamp">21 May 2021</span>
          <h6>{{content.title}}</h6>
          <p>{{content.body}}</p>
          <a href="">Read full article</a>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <pagination class="pagination" [totalItems]="contentArray.length" [itemsPerPage]="4" previousText="&lsaquo;"
        nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div>
  <div class="top-comments card">
    <h3 class="sub-heading">Top Comments</h3>
    <div class="card-body">
      <div class="list" *ngFor="let item of comments">
        <div class="img-block">
          <img src="./assets/img/458372_1.jpg" class="avatar" alt="comment-user">
        </div>
        <div>
          <h6>{{item.name}}</h6>
          <div class="time-stamp">
            2 hours ago
          </div>
          <p>
            {{item.body.slice(0,100)}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="users card">
    <h3 class="sub-heading">Users</h3>
    <div class="card-body">
      <div class="users">
        <div class="user-list" *ngFor="let item of users ">
          <div class="img-block">
            <img src="./assets/img/458372_1.jpg" class="avatar" alt="comment-user">
          </div>
          <div>
            <h6>{{item.username}}</h6>
            <div class="status">
              <div class="online">
                Online
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
