<div class="main">
  <div class="logo-container">
    <img src="./assets/img/logo.svg" alt="Fudge">
    <div class="intro" *ngIf="isScroll">
      <h1>All your finances in one place.</h1>
      <p class="secondary-text">Find out how our team of highly qualified financial consultants can help you achieve
        your financial goals.</p>
      <button class="btn-landing btn-outline btn-lg" [routerLink]="['/page']">View Dashboard</button>
    </div>
  </div>
  <div class="icon" *ngIf="!isScroll" (click)="scrollContainer()">
    <i class="las la-arrow-down la-2x"></i>
  </div>
</div>
